.container {
  background-color: var(--bgSoft);
  padding: 12px;
  border-radius: 10px;
  display: flex;
  gap: 12px;
  cursor: pointer;
  width: 100%;
  border: 2px solid #7de7ae;
}

.container:hover {
  background-color: #7de7ae;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.number {
  font-size: 24px;
  font-weight: 500;
}

.detail {
  font-size: 14px;
  font-weight: 300;
}

.positive {
  color: lime;
}

.negative {
  color: red;
}
