.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.title {
  margin-bottom: 20px;
  font-weight: 200;
  color: var(--textSoft);
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Jika Anda ingin mengatur align-items */
}
